@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply min-w-0 scroll-smooth;
	}

	body {
		@apply bg-body font-inter text-[16px]/[24px] font-normal text-black;
	}
}

@layer components {
	.swiper {
		@apply h-full w-full overflow-hidden;
	}
	.swiper-wrapper {
		@apply box-content flex items-stretch transition-transform;
	}
	.swiper-slide {
		@apply h-full w-full shrink-0;
	}

	.swiper-buttons:has(.swiper-button-lock) {
		@apply hidden;
	}

	.btn.swiper-button-disabled {
		@apply pointer-events-none opacity-50 text-black border-2 border-black bg-transparent;
	}
}

@layer utilities {
	.section {
		@apply py-10 xl:py-16;
	}

	.section-title {
		@apply font-unbounded text-[32px]/[36px] font-black uppercase text-center md:text-[48px]/[1];
	}

	.low-section-title {
		@apply text-center text-[20px]/[28px] font-medium uppercase text-gray md:text-[24px]/[32px] xl:text-[32px]/[36px];
	}

	.btn {
		@apply flex max-h-11 w-fit items-center justify-center rounded-[4px] px-4  py-2 text-center text-[20px]/[28px] lowercase duration-300;
	}
	.btn-black {
		@apply text-white bg-black hover:bg-accent-purple2 focus:bg-accent-purple2 active:bg-accent-orange;
	}
	.btn-transparent {
		@apply text-black bg-body;
	}
	.btn-border-gradient {
		@apply inline-flex items-center justify-center rounded-[4px] p-[2px] transition-all duration-300;
		background: black;
	}
	.btn-border-gradient:hover {
		background: linear-gradient(
			135deg,
			#5a05f4 0%,
			#ff8856 50%,
			#ffc72f 100%
		);
	}
	.btn-border-gradient:active {
		background: linear-gradient(
			315deg,
			#5a05f4 0%,
			#ff8856 50%,
			#ffc72f 100%
		);
	}

	.social-link {
		@apply size-11 md:size-7 flex items-center justify-center bg-white rounded-[4px] border-2 border-black duration-300 hover:scale-[1.2] hover:border-accent-purple2 focus:border-accent-purple2 active:bg-accent-purple2;

		&:hover > svg path,
		&:focus > svg path {
			@apply fill-accent-purple2;
		}
		&:active > svg path {
			@apply fill-white;
		}
	}

	.social-link-footer {
		@apply size-7 flex items-center justify-center bg-white/30 rounded-[4px] duration-300 hover:scale-[1.2] hover:bg-white/60 focus:bg-white/60 active:bg-[#F2F1EE];
	}

	.nowrap-md {
		@apply md:whitespace-nowrap md:block xl:inline;
	}
	.nowrap-xl {
		@apply xl:whitespace-nowrap xl:block;
	}

	.scroll-hidden {
		@apply overflow-hidden;
	}
}
