@use '../global' as *;

/* initial */
.header.bg-body.sticky {
	transition: box-shadow 0.3s ease;
}

/* scroll shadow */
.header.bg-body.sticky.shadow-scrolled {
	box-shadow: 0 2px 6px 2px #00000026;
}
