@use '../global' as *;

.policy-content {
	h2 {
		font-family: 'Inter Tight', sans-serif;
		font-size: 32px;
		font-weight: 500;
		line-height: 36px;
		margin-bottom: 32px;
		margin-top: 64px;
		text-transform: uppercase;
	}

	h3 {
		font-family: 'Inter Tight', sans-serif;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 32px;
		margin-top: 64px;
		text-transform: uppercase;
	}

	@media (min-width: 1279.99px) {
		.wp-block-list {
			padding-left: 32px;
		}
	}

	.wp-block-list li {
		margin-bottom: 16px;
		padding-left: 40px;
		position: relative;
	}

	.wp-block-list li:last-child {
		margin-bottom: 0;
	}

	.wp-block-list li::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11'%3E%3Cpath d='M13.3556 3.75262L7.18355 9.92606C6.75392 10.355 6.19092 10.5698 5.62793 10.5698C5.06638 10.5698 4.50267 10.355 4.07376 9.92606L0.643908 6.49621C-0.214636 5.63766 -0.214636 4.24424 0.643908 3.38714C1.50245 2.52787 2.89371 2.52787 3.7537 3.38714L5.62793 5.26138L10.2472 0.642827C11.1036 -0.214276 12.4984 -0.214276 13.3556 0.642827C14.2148 1.50137 14.2148 2.89407 13.3556 3.75262Z' fill='black'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 14px 11px;
		border: 2px solid #000;
		border-radius: 4px;

		content: '';
		height: 24px;
		left: 0;
		position: absolute;
		top: 4px;
		width: 24px;
	}

	.wp-block-group {
		margin-left: 64px;
	}

	.wp-block-group h4 {
		font-weight: 500;
		text-transform: uppercase;
	}
}
